/*
* Css for Express Lane
* Edit away to make site specific.
*/

fieldset.express-lane-options .form-type-textfield input{
width:auto;
}

fieldset.express-lane-options .form-item{
display:inline-block;
}
fieldset.express-lane-options .form-type-checkbox{
padding-left:5px;
padding-right:5px;
}

#express-lane-basket a:link{text-decoration:none; font-size:20px;}
#express-lane-basket{margin-bottom:12px;}

#express-lane-checkout-note{
font-size: 12px;
line-height: 12px;
margin-bottom: 10px;
}

.express-lane-table{
width:100%;
text-align:center;
}
.express-lane-table th{
border-bottom:none;
text-align:center;
}
.express-lane-table .odd{background-color: #e8d967; border:none !important}
.express-lane-table input[type="submit"], .express-lane-table input[type="text"]{background: transparent;
border: 1px solid;
font-family: "Book Antiqua", Palatino, serif;
}
.express-lane-table .even{background-color: #96d286; border:none !important}
.express-lane-table tbody{border:none !important;}

.express-lane-shop-price, .express-lane-shop-quantity, .express-lane-shop-price input, .express-lane-shop-quantity input{text-align:right;
font-family: "Book Antiqua", Palatino, serif;
}

.express-lane-shop-item{width: 310px;
display: inline;
border:1px solid;
margin:10px;
}
.express-lane-shop-item input{
background: transparent;
border: 1px solid;
font-family: "Book Antiqua", Palatino, serif;
}
@media all and (max-width: 390px){
.express-lane-shop-item{
width: 275px;
display: inline;
float: left;
border:1px solid;
font-size: .85em;
margin:5px;
}
}
.express-lane-shop-item legend a:link{text-decoration:none;}

.express-lane-direct-button{margin-bottom:10px;}
article.node-page{width:100%; float:left;}
.item-price{margin-right:5px;}
.item-quantity{margin-left:5px;}
.express-lane-item-direct{}
.express-lane-item-cart{}
.express-lane-form-item input[type="text"], .express-lane-form-item input[type="submit"]{background:none; border:1px solid; font-family: "Book Antiqua", Palatino, serif;}
.express-lane-item-info{float: left;
margin-right: 10px;}
.express-lane-form-item{float:left;}
.express-lane-item-buttons{float:right}
.express-lane-item-form{min-height:32px;}
@media all and (max-width: 650px){
.express-lane-item-form{min-height:64px;}
.express-lane-item-buttons{float:left}
}
@media all and (max-width: 450px){
.express-lane-item-form{min-height:96px;}
.express-lane-item-buttons{float:left}
}
.express-lane-shop-wrapper{margin-bottom:10px}
#express-lane-gift-email-wrapper{margin-top:10px; margin-bottom: 10px;
padding: 5px;
border: #96d286 10px solid;}
#express-lane-gift-email-wrapper input[type="submit"]{margin-top:10px;}
#express-lane-gift-email-wrapper input[type="submit"],#express-lane-gift-email-wrapper textarea, #express-lane-gift-email-wrapper input[type="text"]{background:transparent !important; border:1px solid; font-family:"Book Antiqua", Palatino, serif; -webkit-appearance: none;}